.container{
    background-color: rgb(230, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width:460px;
    height:250px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin:20px;
    padding-left: 25px;
    padding-right:25px;
    
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}